.tide-link-as-button,
.tide-button {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.tide-link-as-button.quaternary,
.tide-button.quaternary {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Rest State */
.primary {
  background: var(--primary);
  border: 2px solid var(--primary);
  color: var(--on-primary);
}

.secondary {
  background: 2px solid var(--surface);
  border: 2px solid var(--primary);
  color: var(--primary);
}

.tertiary {
  background: var(--white);
  border: 1px solid var(--border);
  color: var(--secondary);
}

.quaternary {
  background: var(--white);
  color: var(--secondary);
}

.floating {
  background-color: var(--transparent-100);
  color: var(--secondary);
  box-shadow: var(--shadow-bottom);
}

/* Hover State */
a.primary:hover,
button.primary:enabled:hover {
  border: 2px solid var(--primary);
  background: 2px solid var(--white);
  color: var(--primary);
}

a.secondary:hover,
button.secondary:enabled:hover {
  background: var(--primary);
  color: var(--on-primary);
}

a.tertiary:hover,
button.tertiary:enabled:hover {
  border: 1px solid var(--border-high);
}

a.quaternary:hover,
button.quaternary:enabled:hover {
  background: var(--surface-variant);
}

.floating:hover,
button.floating:enabled:hover {
  background-color: var(--white);
}

/* Disabled State */
button.primary:disabled,
button.secondary:disabled,
button.tertiary:disabled,
button.quaternary:disabled,
button.floating:disabled {
  opacity: 0.32;
}
