/* Atomic Utilities */
/* Background */
.bg-gradient {
  background: linear-gradient(
    to bottom right,
    var(--ti-primary-button-tier-3-variant-background-rest) 50%,
    var(--ti-primary-button-tier-1-background-rest) 150%
  );
}

.bg-primary-tier-1 {background-color: var(--ti-primary-button-tier-1-background-rest);}
.bg-primary-tier-2 {background-color: var(--ti-primary-button-tier-2-background-rest);}
.bg-primary-tier-3 {background-color: var(--ti-primary-button-tier-3-background-rest);}

.bg-primary-variant-tier-1 {background-color: var(--ti-primary-button-tier-1-variant-background-rest);}
.bg-primary-variant-tier-2 {background-color: var(--ti-primary-button-tier-2-variant-background-rest);}
.bg-primary-variant-tier-3 {background-color: var(--ti-primary-button-tier-3-variant-background-rest);}

.bg-secondary {background-color: var(--ti-tertiary-button-background-rest);}
.bg-tertiary  {background-color: var(--ti-tertiary-button-background-rest);}

.bg-surface      {background-color: var(--ti-surface-background-default);}
.bg-surface-low  {background-color: var(--ti-surface-background-low);}
.bg-surface-high {background-color: var(--ti-surface-background-high);}

.bg-surface-variant         {background-color: var(--ti-surface-variant-background-default);}
.bg-surface-variant-low     {background-color: var(--ti-surface-variant-background-low);}
.bg-surface-variant-lowest  {background-color: var(--ti-surface-variant-background-lowest);}
.bg-surface-variant-high    {background-color: var(--ti-surface-variant-background-high);}
.bg-surface-variant-highest {background-color: var(--ti-surface-variant-background-highest);}

/* Border */
.border-primary-tier-1 {border-color: var(--ti-primary-button-tier-1-border-rest);}
.border-primary-tier-2 {border-color: var(--ti-primary-button-tier-2-border-rest);}
.border-primary-tier-3 {border-color: var(--ti-primary-button-tier-3-border-rest);}

.border-primary-variant-tier-1 {border-color: var(--ti-primary-button-tier-1-variant-border-rest);}
.border-primary-variant-tier-2 {border-color: var(--ti-primary-button-tier-2-variant-border-rest);}
.border-primary-variant-tier-3 {border-color: var(--ti-primary-button-tier-3-variant-border-rest);}

.border-secondary {border-color: var(--ti-secondary-button-border-rest);}
.border-tertiary  {border-color: var(--ti-tertiary-button-border-rest);}

.border-surface       {border-color: var(--ti-surface-border-rest);}
.border-surface-low   {border-color: var(--ti-surface-border-low);}
.border-surface-high  {border-color: var(--ti-surface-border-high);}
.border-surface-save  {border-color: var(--ti-surface-border-save-active);}

/* Foreground */
.font-primary-tier-1 {color: var(--ti-primary-button-tier-1-foreground-rest);}
.font-primary-tier-2 {color: var(--ti-primary-button-tier-2-foreground-rest);}
.font-primary-tier-3 {color: var(--ti-primary-button-tier-3-foreground-rest);}

.font-primary-variant-tier-1 {color: var(--ti-primary-button-tier-1-variant-foreground-rest);}
.font-primary-variant-tier-2 {color: var(--ti-primary-button-tier-2-variant-foreground-rest);}
.font-primary-variant-tier-3 {color: var(--ti-primary-button-tier-3-variant-foreground-rest);}

.font-secondary {color: var(--ti-secondary-button-foreground-rest);}
.font-tertiary  {color: var(--ti-tertiary-button-foreground-rest);}

.font-surface         {color: var(--ti-surface-foreground);}
.font-surface-variant {color: var(--ti-surface-variant-foreground);}
