@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* Replace with dynamic reference to realm-specific CSS */
@import './variables.css';
@import './realm/rv.css';

@import './reset.css';
@import './utilities.css';
@import './page-layout.css';
