html,
body {
  color: var(--ti-surface-foreground);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  color: inherit;
  font-family: var(--font-default);
  font-weight: var(--font-500);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {font-size: var(--font-32);} /* 32px */
h2 {font-size: var(--font-28);} /* 28px */
h3 {font-size: var(--font-24);} /* 24px */
h4 {font-size: var(--font-20);} /* 20px */
h5 {font-size: var(--font-16);} /* 16px */

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-700);
}

img,
label {
  display: block;
}

img {
  max-width: 100%;
}

p {
  max-width: 80ch;
  line-height: 150%;
}

button,
input,
option,
select,
textarea {
  background-color: unset;
  font-family: inherit;
  font-size: inherit;
}

button:enabled,
select {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

/* cross-browser normalization */
input::placeholder {
  color: var(--gray); /* TODO: replace with an accessible light text color from design system */
  opacity: 1;
}

/* Clears the ‘X’ from Chrome */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
