html,
body {
  color: var(--gray-dark);
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  color: inherit;
  font-family: var(--font-default);
}

h1 {font-size: 2rem;}     /* 32px */
h2 {font-size: 1.75rem;}  /* 28px */
h3 {font-size: 1.5rem;}   /* 24px */
h4 {font-size: 1.25rem;}  /* 20px */
h5 {font-size: 1rem;}     /* 16px */
h6 {font-size: 0.75rem;}  /* 12px */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 700;
}

img {
  display: block;
}

img {
  max-width: 100%;
}

p {
  max-width: 80ch;
  line-height: 150%;
}

button,
input,
select {
  background-color: unset;
  font-family: inherit;
  font-size: inherit;
}

button:enabled {
  cursor: pointer;
}

button:not(:enabled) {
  cursor: not-allowed;
}
