/* Reusable CSS Utility Library */
/* Position */
.tide-position-absolute {position: absolute;}
.tide-position-fixed    {position: fixed;}
.tide-position-relative {position: relative;}
.tide-position-sticky   {position: sticky;}

.tide-top-0    {top: 0;}
.tide-right-0  {right: 0;}
.tide-bottom-0 {bottom: 0;}
.tide-left-0   {left: 0;}

/* Display */
.tide-display-block        {display: block;}
.tide-display-contents     {display: contents;}
.tide-display-flex         {display: flex;}
.tide-display-grid         {display: grid;}
.tide-display-initial      {display: initial;}
.tide-display-inline       {display: inline;}
.tide-display-inline-block {display: inline-block;}
.tide-display-inline-flex  {display: inline-flex;}
.tide-display-none         {display: none;}

/* Flex Box */
.tide-flex-column         {flex-direction: column;}
.tide-flex-column-reverse {flex-direction: column-reverse;}
.tide-flex-row            {flex-direction: row;}
.tide-flex-row-reverse    {flex-direction: row-reverse;}

.tide-grow      {flex-grow: 1;}
.tide-grow-none {flex-grow: 0;}

.tide-shrink      {flex-shrink: 1;}
.tide-shrink-none {flex-shrink: 0;}

.tide-flex-wrap {flex-wrap: wrap;}

.tide-axis1-around  {justify-content: space-around;}
.tide-axis1-between {justify-content: space-between;}
.tide-axis1-center  {justify-content: center;}
.tide-axis1-end     {justify-content: end;}

.tide-axis2-around  {align-items: space-around;}
.tide-axis2-center  {align-items: center;}
.tide-axis2-end     {align-items: flex-end;}
.tide-axis2-start   {align-items: flex-start;}
.tide-axis2-stretch {align-items: stretch;}

.tide-gap-1\/4 {gap: var(--spacing-1\/4);}
.tide-gap-1\/2 {gap: var(--spacing-1\/2);}
.tide-gap-1    {gap: var(--spacing-1);}
.tide-gap-2    {gap: var(--spacing-2);}
.tide-gap-4    {gap: var(--spacing-4);}

/* Box Sizing */
.tide-box-border  {box-sizing: border-box;}
.tide-box-content {box-sizing: content-box;}

/* Margin */
.tide-margin-0    {margin: 0;}
.tide-margin-1\/4 {margin: var(--spacing-1\/4);}
.tide-margin-1\/2 {margin: var(--spacing-1\/2);}
.tide-margin-1    {margin: var(--spacing-1);}
.tide-margin-2    {margin: var(--spacing-2);}
.tide-margin-4    {margin: var(--spacing-4);}

.tide-margin-x-0    {margin-left: 0;                   margin-right: 0;}
.tide-margin-x-1\/4 {margin-left: var(--spacing-1\/4); margin-right: var(--spacing-1\/4);}
.tide-margin-x-1\/2 {margin-left: var(--spacing-1\/2); margin-right: var(--spacing-1\/2);}
.tide-margin-x-1    {margin-left: var(--spacing-1);    margin-right: var(--spacing-1);}
.tide-margin-x-2    {margin-left: var(--spacing-2);    margin-right: var(--spacing-2);}
.tide-margin-x-4    {margin-left: var(--spacing-4);    margin-right: var(--spacing-4);}
.tide-margin-x-auto {margin-left: auto;                margin-right: auto;}

.tide-margin-y-0    {margin-top: 0;                   margin-bottom: 0;}
.tide-margin-y-1\/4 {margin-top: var(--spacing-1\/4); margin-bottom: var(--spacing-1\/4);}
.tide-margin-y-1\/2 {margin-top: var(--spacing-1\/2); margin-bottom: var(--spacing-1\/2);}
.tide-margin-y-1    {margin-top: var(--spacing-1);    margin-bottom: var(--spacing-1);}
.tide-margin-y-2    {margin-top: var(--spacing-2);    margin-bottom: var(--spacing-2);}
.tide-margin-y-4    {margin-top: var(--spacing-4);    margin-bottom: var(--spacing-4);}

.tide-margin-top-0    {margin-top: 0;}
.tide-margin-top-1\/4 {margin-top: var(--spacing-1\/4);}
.tide-margin-top-1\/2 {margin-top: var(--spacing-1\/2);}
.tide-margin-top-1    {margin-top: var(--spacing-1);}
.tide-margin-top-2    {margin-top: var(--spacing-2);}
.tide-margin-top-4    {margin-top: var(--spacing-4);}

.tide-margin-right-0    {margin-right: 0;}
.tide-margin-right-1\/4 {margin-right: var(--spacing-1\/4);}
.tide-margin-right-1\/2 {margin-right: var(--spacing-1\/2);}
.tide-margin-right-1    {margin-right: var(--spacing-1);}
.tide-margin-right-2    {margin-right: var(--spacing-2);}
.tide-margin-right-4    {margin-right: var(--spacing-4);}
.tide-margin-right-auto {margin-right: auto;}

.tide-margin-bottom-0    {margin-bottom: 0;}
.tide-margin-bottom-1\/4 {margin-bottom: var(--spacing-1\/4);}
.tide-margin-bottom-1\/2 {margin-bottom: var(--spacing-1\/2);}
.tide-margin-bottom-1    {margin-bottom: var(--spacing-1);}
.tide-margin-bottom-2    {margin-bottom: var(--spacing-2);}
.tide-margin-bottom-4    {margin-bottom: var(--spacing-4);}

.tide-margin-left-0    {margin-left: 0;}
.tide-margin-left-1\/2 {margin-left: var(--spacing-1\/2);}
.tide-margin-left-1    {margin-left: var(--spacing-1);}
.tide-margin-left-2    {margin-left: var(--spacing-2);}
.tide-margin-left-4    {margin-left: var(--spacing-4);}
.tide-margin-left-auto {margin-left: auto;}

/* Border */
.tide-border-1,
.tide-border-2,
.tide-border-bottom-1,
.tide-border-bottom-2,
.tide-border-left-1,
.tide-border-left-2,
.tide-border-right-1,
.tide-border-right-2,
.tide-border-top-1,
.tide-border-top-2 {
  border-style: solid;
}

.tide-border-1 {border-width: var(--border-width-1);}
.tide-border-2 {border-width: var(--border-width-2);}

.tide-border-top-1    {border-top-width:    var(--border-width-1);}
.tide-border-right-1  {border-right-width:  var(--border-width-1);}
.tide-border-bottom-1 {border-bottom-width: var(--border-width-1);}
.tide-border-left-1   {border-left-width:   var(--border-width-1);}

.tide-border-top-2    {border-top-width:    var(--border-width-2);}
.tide-border-right-2  {border-right-width:  var(--border-width-2);}
.tide-border-bottom-2 {border-bottom-width: var(--border-width-2);}
.tide-border-left-2   {border-left-width:   var(--border-width-2);}

.tide-radius-1\/4 {border-radius: var(--radius-1\/4);}
.tide-radius-1\/2 {border-radius: var(--radius-1\/2);}
.tide-radius-1    {border-radius: var(--radius-1);}
.tide-radius-full {border-radius: var(--radius-full);}

/* Padding */
.tide-padding-0    {padding: 0;}
.tide-padding-1\/4 {padding: var(--spacing-1\/4);}
.tide-padding-1\/2 {padding: var(--spacing-1\/2);}
.tide-padding-1    {padding: var(--spacing-1);}
.tide-padding-2    {padding: var(--spacing-2);}
.tide-padding-4    {padding: var(--spacing-4);}

.tide-padding-x-0    {padding-left: 0;                   padding-right: 0;}
.tide-padding-x-1\/4 {padding-left: var(--spacing-1\/4); padding-right: var(--spacing-1\/4);}
.tide-padding-x-1\/2 {padding-left: var(--spacing-1\/2); padding-right: var(--spacing-1\/2);}
.tide-padding-x-1    {padding-left: var(--spacing-1);    padding-right: var(--spacing-1);}
.tide-padding-x-2    {padding-left: var(--spacing-2);    padding-right: var(--spacing-2);}
.tide-padding-x-4    {padding-left: var(--spacing-4);    padding-right: var(--spacing-4);}

.tide-padding-y-0    {padding-top: 0;                   padding-bottom: 0;}
.tide-padding-y-1\/4 {padding-top: var(--spacing-1\/4); padding-bottom: var(--spacing-1\/4);}
.tide-padding-y-1\/2 {padding-top: var(--spacing-1\/2); padding-bottom: var(--spacing-1\/2);}
.tide-padding-y-1    {padding-top: var(--spacing-1);    padding-bottom: var(--spacing-1);}
.tide-padding-y-2    {padding-top: var(--spacing-2);    padding-bottom: var(--spacing-2);}
.tide-padding-y-4    {padding-top: var(--spacing-4);    padding-bottom: var(--spacing-4);}

.tide-padding-top-0    {padding-top: 0;}
.tide-padding-top-1\/4 {padding-top: var(--spacing-1\/4);}
.tide-padding-top-1\/2 {padding-top: var(--spacing-1\/2);}
.tide-padding-top-1    {padding-top: var(--spacing-1);}
.tide-padding-top-2    {padding-top: var(--spacing-2);}
.tide-padding-top-4    {padding-top: var(--spacing-4);}

.tide-padding-right-0    {padding-right: 0;}
.tide-padding-right-1\/4 {padding-right: var(--spacing-1\/4);}
.tide-padding-right-1\/2 {padding-right: var(--spacing-1\/2);}
.tide-padding-right-1    {padding-right: var(--spacing-1);}
.tide-padding-right-2    {padding-right: var(--spacing-2);}
.tide-padding-right-4    {padding-right: var(--spacing-4);}

.tide-padding-bottom-0    {padding-bottom: 0;}
.tide-padding-bottom-1\/4 {padding-bottom: var(--spacing-1\/4);}
.tide-padding-bottom-1\/2 {padding-bottom: var(--spacing-1\/2);}
.tide-padding-bottom-1    {padding-bottom: var(--spacing-1);}
.tide-padding-bottom-2    {padding-bottom: var(--spacing-2);}
.tide-padding-bottom-4    {padding-bottom: var(--spacing-4);}

.tide-padding-left-0    {padding-left: 0;}
.tide-padding-left-1\/4 {padding-left: var(--spacing-1\/4);}
.tide-padding-left-1\/2 {padding-left: var(--spacing-1\/2);}
.tide-padding-left-1    {padding-left: var(--spacing-1);}
.tide-padding-left-2    {padding-left: var(--spacing-2);}
.tide-padding-left-4    {padding-left: var(--spacing-4);}

/* Dimension */
.tide-max-width-full {max-width: 100%;}
.tide-min-width-0    {min-width: 0;}

.tide-max-height-full {max-height: 100%;}
.tide-min-height-0    {min-height: 0;}

.tide-width-container {max-width: 1168px;}

.tide-width-full {width: 100%;}

.tide-height-full {height: 100%;}

/* Backgrounds */
.tide-transparent-100 {background-color: var(--transparent-100);}
.tide-transparent-200 {background-color: var(--transparent-200);}
.tide-transparent-300 {background-color: var(--transparent-300);}
.tide-transparent-400 {background-color: var(--transparent-400);}

/* Font Size */
.tide-font-10 {font-size: 0.625rem;} /* 10px */
.tide-font-12 {font-size: 0.75rem;}  /* 12px */
.tide-font-14 {font-size: 0.875rem;} /* 14px */
.tide-font-16 {font-size: 1rem;}     /* 16px */
.tide-font-20 {font-size: 1.25rem;}  /* 20px */
.tide-font-24 {font-size: 1.5rem;}   /* 24px */
.tide-font-32 {font-size: 2rem;}     /* 32px */

/* Font Weight */
.tide-font-400 {font-weight: 400;}
.tide-font-500 {font-weight: 500;}
.tide-font-600 {font-weight: 600;}
.tide-font-700 {font-weight: 700;}

/* Misc */
.tide-align-middle {vertical-align: middle;}

.tide-break-word {overflow-wrap: break-word;}

.tide-cursor-pointer     {cursor: pointer;}
.tide-cursor-not-allowed {cursor: not-allowed;}

.tide-leading-default {line-height: 100%;}
.tide-leading-normal  {line-height: normal;}

.tide-list-none {list-style-type: none;}

.tide-object-center {object-position: center;}

.tide-object-cover      {object-fit: cover;}
.tide-object-contain    {object-fit: contain;}
.tide-object-scale-down {object-fit: scale-down;}

.tide-pointer-events      {pointer-events: auto;}
.tide-pointer-events-none {pointer-events: none;}

.tide-scrollbar-none::-webkit-scrollbar {display: none;}
.tide-scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tide-scroll-snap {
  scroll-snap-stop: always;
  scroll-snap-type: both mandatory;
  scroll-behavior: smooth;
}

.tide-scroll-snap-start {
  scroll-snap-align: start;
}

.tide-shadow-bottom {box-shadow: var(--shadow-bottom);}
.tide-shadow-top    {box-shadow: var(--shadow-top);}

.tide-text-center {text-align: center;}
.tide-text-left   {text-align: left;}
.tide-text-right  {text-align: right;}

.tide-text-transform-lower {text-transform: lowercase;}
.tide-text-transform-none  {text-transform: none;}
.tide-text-transform-upper {text-transform: uppercase;}

.tide-underline,
.tide-underline:hover,
.tide-underline-hover:hover {
  text-decoration: underline;
}

.tide-underline-none,
.tide-underline-none:hover,
.tide-underline-hover {
  text-decoration: none;
}

.tide-visible      {visibility: visible;}
.tide-visible-none {visibility: hidden;}

.tide-whitespace-nowrap {white-space: nowrap;}

.tide-x-auto   {overflow-x: auto;}
.tide-x-hidden {overflow-x: hidden;}
.tide-x-scroll {overflow-x: scroll;}

.tide-xy-auto   {overflow: auto;}
.tide-xy-hidden {overflow: hidden;}

.tide-y-auto   {overflow-y: auto;}
.tide-y-hidden {overflow-y: hidden;}
