/*.CSS Variables */
:root {
  /* Global Colors */
  --beige:      #f9f5f2;
  --black:      #000000;
  --blue-dark:  #2971EA;
  --blue-light: #CCDEF3;
  --blue:       #669EDC;
  --gray-dark:  #3D3D3D;
  --gray-light: #E5E5E5;
  --gray:       #B2B2B2;
  --green:      #336600;
  --red:        #FF0000;
  --white:      #FFFFFF;

  /* Fonts */
  --font-default: Montserrat;
  --font-title:   Montserrat;

  /* Animation */
  --animate: 300ms ease-in-out;

  /* Shadow */
  --shadow-1: 0 0 11px rgba(0, 1, 6, 0.1);
  --shadow-2: 0 0 11px rgba(0, 1, 6, 0.13);
  --shadow-3: 0 0 11px rgba(0, 1, 6, 0.15);

  /* Spacing */
  --spacing-0: 0rem;
  --spacing-1\/4: 0.25rem;
  --spacing-1\/2: 0.5rem;
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-4: 4rem;

  /* Border */
  --border-w-1: 1px;
  --border-w-2: 2px;
  --border-1: var(--border-w-1) solid var(--black);
  --border-2: var(--border-w-2) solid var(--black);
}
