/*.CSS Variables */
:root {
  /* Global Colors */
  --beige:      #f9f5f2;
  --black:      #000000;
  --blue-dark:  #2971EA;
  --blue-light: #CCDEF3;
  --blue:       #669EDC;
  --gray-dark:  #3D3D3D;
  --gray-light: #E5E5E5;
  --gray:       #B2B2B2;
  --green:      #336600;
  --red:        #FF0000;
  --white:      #FFFFFF;

  /* Font Family */
  --font-default: Montserrat;
  --font-title:   Montserrat;

  /* Font Size */
  --font-12: 0.75rem;  /* 12px */
  --font-14: 0.875rem; /* 14px */
  --font-16: 1rem;     /* 16px */
  --font-20: 1.25rem;  /* 20px */
  --font-24: 1.5rem;   /* 24px */
  --font-28: 1.75rem;  /* 28px */
  --font-32: 2rem;     /* 32px */

  /* Font Weight */
  --font-500: 500;
  --font-700: 700;

  /* Animation */
  --animate: 300ms ease-in-out;

  /* Shadow */
  --shadow-b-1: 0px 1px 6px 1px rgba(0, 0, 0, 0.10);
  --shadow-b-2: 0px 2px 9px 2px rgba(0, 0, 0, 0.13);
  --shadow-b-3: 0px 4px 11px 3px rgba(0, 0, 0, 0.15);
  --shadow-b-4: 0px 6px 14px 3px rgba(0, 0, 0, 0.15);
  --shadow-b-5: 0px 8px 15px 6px rgba(0, 0, 0, 0.15);

  --shadow-t-1: 0px -1px 6px 1px rgba(0, 0, 0, 0.10);
  --shadow-t-2: 0px -2px 9px 2px rgba(0, 0, 0, 0.13);
  --shadow-t-3: 0px -4px 11px 3px rgba(0, 0, 0, 0.15);
  --shadow-t-4: 0px -6px 14px 3px rgba(0, 0, 0, 0.15);
  --shadow-t-5: 0px -8px 15px 6px rgba(0, 0, 0, 0.15);

  /* Spacing */
  --spacing-0: 0rem;
  --spacing-1\/4: 0.25rem;
  --spacing-1\/2: 0.5rem;
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-4: 4rem;

  /* Border */
  --border-w-1: 1px;
  --border-w-2: 2px;

  --border-1: var(--border-w-1) solid var(--black);
  --border-2: var(--border-w-2) solid var(--black);

  /* Global tonal palette */
  --global-tonal-gray-100: #E4E4E5;
  --global-tonal-gray-200: #C9CACB;
  --global-tonal-gray-300: #AEAFB2;
  --global-tonal-gray-400: #939598;
  --global-tonal-gray-500: #6E7072;
  --global-tonal-gray-500: #6E7072;
  --global-tonal-gray-600: #494A4C;
  --global-tonal-gray-700: #252526;
  --global-tonal-gray-800: #000;

  --global-tonal-lime-100: #E6EFCF;
  --global-tonal-lime-200: #CDE09E;
  --global-tonal-lime-300: #B4D06E;
  --global-tonal-lime-400: #9BC13D;
  --global-tonal-lime-500: #74912E;
  --global-tonal-lime-600: #4D601E;
  --global-tonal-lime-700: #27300F;

  --global-tonal-blue-100: #D1E0EB;
  --global-tonal-blue-200: #A4C1D7;
  --global-tonal-blue-300: #76A3C4;
  --global-tonal-blue-400: #4984B0;
  --global-tonal-blue-500: #376384;
  --global-tonal-blue-600: #244258;
  --global-tonal-blue-700: #12212C;

  --global-tonal-red-100: #EFCFCF;
  --global-tonal-red-200: #E09E9E;
  --global-tonal-red-300: #D06E6E;
  --global-tonal-red-400: #C13D3D;
  --global-tonal-red-500: #912E2E;
  --global-tonal-red-600: #601E1E;
  --global-tonal-red-700: #300F0F;

  --global-tonal-yellow-100: #FEF2CC;
  --global-tonal-yellow-200: #FCE499;
  --global-tonal-yellow-300: #FBD766;
  --global-tonal-yellow-400: #FACA33;
  --global-tonal-yellow-500: #BB9726;
  --global-tonal-yellow-600: #7D6519;
  --global-tonal-yellow-700: #3E320D;

  --global-tonal-white-10: rgba(255, 255, 255, .1);
  --global-tonal-white-16: rgba(255, 255, 255, .16);
  --global-tonal-white-20: rgba(255, 255, 255, .20);
  --global-tonal-white-24: rgba(255, 255, 255, .24);
  --global-tonal-white-28: rgba(255, 255, 255, .28);
  --global-tonal-white-32: rgba(255, 255, 255, .32);
  --global-tonal-white-65: rgba(255, 255, 255, .65);
  --global-tonal-white-75: rgba(255, 255, 255, .75);
  --global-tonal-white-100: #FFF;

  /* Global color roles */
  --global-role-error-primary: var(--global-tonal-red-400);
  --global-role-error-primary-border: var(--global-tonal-red-300);
  --global-role-error-surface: var(--global-tonal-red-100);
  --global-role-error-border-low: var(--global-tonal-red-200);
  --global-role-error-border-rest: var(--global-tonal-red-400);
  --global-role-error-border-high: var(--global-tonal-red-500);
  --global-role-error-on-surface: var(--global-tonal-red-400);
  --global-role-error-on-surface-variant: var(--global-tonal-red-500);
}

.theme-dark {
  --global-role-error-primary: var(--global-tonal-red-400);
  --global-role-error-primary-border: var(--global-tonal-red-300);
  --global-role-error-surface: var(--global-tonal-red-600);
  --global-role-error-border-low: var(--global-tonal-red-500);
  --global-role-error-border-rest: var(--global-tonal-red-200);
  --global-role-error-border-high: var(--global-tonal-red-100);
  --global-role-error-on-surface: var(--global-tonal-red-200);
  --global-role-error-on-surface-variant: var(--global-tonal-red-100);
}
