/* Aero Trader Realm Colors */
:root {
  /* Realm-specific Tonal Palette: Only to be referenced in the assignment of Color Roles below. */
  --color1: #4e9ac8;
  --color2: #006C97;
  --color3: #83CBFB;

  --bg-gradient: linear-gradient(
    to bottom right,
    var(--color3) 50%,
    var(--color2) 150%
  );

  --floating: rgba(255, 255, 255, 0);
}

/* Color Roles: Each realm will assign values to this same series of variables from a combination of the Global and Realm-specific Palettes. */
:root {
  --primary:    var(--color1);
  --on-primary: var(--white);

  --secondary:    var(--black);
  --on-secondary: var(--white);

  --surface:                var(--white);
  --surface-variant:        var(--gray-200);
  --surface-brand:          var(--color1);
  --surface-accent:         var(--color2);
  --surface-accent-variant: var(--color3);
  --surface-gradient:       var(--gradient);
  --surface-floating:       var(--floating);

  --on-surface:         var(--black);
  --on-surface-variant: var(--gray-800);
  --on-surface-brand:   var(--color1);

  --on-surface-inverse:         var(--white);
  --on-surface-inverse-variant: var(--transparent-200);

  --border:          var(--gray-400);
  --border-low:      var(--gray-600);
  --border-high:     var(--black);
  --border-floating: var(--gray-300);
}
