/* PWC Trader Realm Colors */
:root {
  /* Realm-specific Tonal Palette: Only to be referenced in the assignment of Color Roles below. */
  --color1: #0B72B8;
  --color2: #085487;
  --color3: #59A0EB;

  --gradient: linear-gradient(
    to bottom right,
    var(--color2) 50%,
    var(--color3) 150%
  );

  --floating: rgba(255, 255, 255, 0);

  /* Color Roles: Each realm will assign values to this same series of variables from a combination of the Global and Realm-specific Palettes. */
  --primary:    var(--color1);
  --on-primary: var(--gray-100);

  --secondary:    var(--gray-900);
  --on-secondary: var(--gray-100);

  --surface:                var(--gray-100);
  --surface-variant:        var(--gray-200);
  --surface-brand:          var(--color1);
  --surface-accent:         var(--color3);
  --surface-accent-variant: var(--color2);
  --surface-gradient:       var(--gradient);
  --surface-floating:       var(--floating);

  --on-surface:         var(--gray-900);
  --on-surface-variant: var(--gray-700);
  --on-surface-brand:   var(--color1);

  --on-surface-inverse:         var(--gray-100);
  --on-surface-inverse-variant: var(--transparent-200);

  --border:          var(--gray-600);
  --border-low:      var(--gray-400);
  --border-high:     var(--gray-900);
  --border-floating: var(--gray-300);
}
