/* RV Trader Realm Colors */
:root {
  /* Realm-specific Tonal Palette: Only to be referenced in the assignment of Color Roles below. */
  --green:  #006836;
  --teal:   #8ADCB9;
  --yellow: #F2B203;

  --gradient: linear-gradient(
    to bottom right,
    var(--teal) 50%,
    var(--yellow) 150%
  );

  --floating: rgba(255, 255, 255, 0);

  /* Color Roles: Each realm will assign values to this same series of variables from a combination of the Global and Realm-specific Palettes. */
  --primary:    var(--green);
  --on-primary: var(--gray-100);

  --secondary:    var(--gray-900);
  --on-secondary: var(--gray-100);

  --surface:                var(--gray-100);
  --surface-variant:        var(--gray-200);
  --surface-brand:          var(--green);
  --surface-accent:         var(--yellow);
  --surface-accent-variant: var(--teal);
  --surface-gradient:       var(--gradient);
  --surface-floating:       var(--floating);

  --on-surface:         var(--gray-900);
  --on-surface-variant: var(--gray-700);
  --on-surface-brand:   var(--green);

  --on-surface-inverse:         var(--gray-100);
  --on-surface-inverse-variant: var(--transparent-200);

  --border:          var(--gray-600);
  --border-low:      var(--gray-400);
  --border-high:     var(--gray-900);
  --border-floating: var(--gray-300);
}
