/* Snowmobile Trader Realm Colors */
:root {
    /* Realm-specific Tonal Palette: Only to be referenced in the assignment of Color Roles below. */
    --tide-color1: #193778;
    --tide-color2: #10234C;
    --tide-color3: #4F60A7;

    --tide-bg-gradient: linear-gradient(
      to bottom right,
      var(--tide-color3) 50%,
      var(--tide-color2) 150%
    );

  --tide-floating: rgba(255, 255, 255, 0);

  /* Color Roles: Each realm will assign values to this same series of variables from a combination of the Global and Realm-specific Palettes. */
  --tide-primary:    var(--tide-color1);
  --tide-on-primary: var(--tide-white);

  --tide-secondary:    var(--tide-black);
  --tide-on-secondary: var(--tide-white);

  --tide-surface:                var(--tide-white);
  --tide-surface-variant:        var(--tide-gray-200);
  --tide-surface-brand:          var(--tide-color1);
  --tide-surface-accent:         var(--tide-color2);
  --tide-surface-accent-variant: var(--tide-color3);
  --tide-surface-gradient:       var(--tide-gradient);
  --tide-surface-floating:       var(--tide-floating);

  --tide-on-surface:         var(--tide-black);
  --tide-on-surface-variant: var(--tide-gray-800);
  --tide-on-surface-brand:   var(--tide-color1);

  --tide-on-surface-inverse:         var(--tide-white);
  --tide-on-surface-inverse-variant: var(--tide-transparent-200);

  --tide-border:          var(--tide-gray-400);
  --tide-border-low:      var(--tide-gray-600);
  --tide-border-high:     var(--tide-black);
  --tide-border-floating: var(--tide-gray-300);
}
